.tabs {
    padding-top: 10px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(29, 48, 85);

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .tab__head {
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 20px;
            cursor: pointer;
            color: rgb(90, 90, 90);
            background-color: rgb(197, 197, 197);
        }

        .active {
            background-color: #fff;
            color: black;
        }
    }

    &__content {
        padding: 10px;
        height: 80px;
        width: 500px;
        background-color: #fff
    }
}