.counter {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 600px;
    text-align: center;
    border: 1px solid #000;
    margin: 5px auto;

    .h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 10px;
    }

    .h2 {
        font-size: 2rem;
        color: #556581;
    }

    &__container {
        button+button {
            margin-left: 20px;
        }
    }
    .input{
        margin: 20px;
    }
}