.page8 {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background-color: grey;

    .numberOfStrokes {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .cards {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
        gap: 10px;

        .card.flipped .inner {
            transform: rotateY(180deg);
        }

        .card {
            height: 150px;
            width: 150px;
            border-radius: 2px;
            cursor: pointer;

            .inner {
                position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s;

                .front {
                    border: 2px solid yellow;
                    background-color: aliceblue;
                    transform: rotateY(180deg);
                }

                .back {
                    &:hover {
                        background-color: rgb(255, 210, 64);
                        transform: scale(1.02);
                    }
                }

                .front,
                .back {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    backface-visibility: hidden;
                    background-color: #e3b039;
                    transition: .3s;
                }
            }
        }
    }

    .buttonRestart {
        cursor: pointer;
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
        transition: all .3s;
        background-color: #e3b039;

        &:hover {
            background-color: rgb(255, 210, 64);
            transform: scale(1.02);
        }
    }
}