.accordion {
    margin: 0 auto;
    height: 300px;
    width: 400px;
    user-select: none;

    &__item {
        margin-bottom: 10px;
        background-color: #f0ebe1;
        padding: 10px 20px;

        &-title {
            color: #85662b;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
        }

        &-content {
            max-height: 0;
            overflow: hidden;
            transition: all .3s;
        }

        &-content.show {
            max-height: 70px;
        }
    }
}